.ratingReview {
  display: grid;
  grid-template-rows:
    [first-start] 5vh
    [first-end] 45vh
    [second-start] 50vh
    [second-end] -5vh;

  grid-template-columns:
    [first-start] 5vw
    [first-end] 35vw
    [second-start] -55vw
    [second-end] -5vw;
}