.reviewImageModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  max-height: 80vh;
  min-height: 80vw;
  padding: 10px;
  z-index: 2001;
  overflow-y: hidden;
};

.reviewModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2001;
};
