.overview-section{
  margin:0 auto;
}

.product-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: var(--light-bg-gradient);
  border-radius: var(--radius-outer);
}
.product-container.dark{
  background-color: var(--dark-secondary);
}

.description-container{
  max-width:1280px;
  margin: 0 auto;
  margin-top:1.875rem;
  padding-top:1rem;
  padding-left:2rem;
  padding-right:2rem;
  padding-bottom: 1rem;
  border-radius: var(--radius-outer);
  background:var(--light-bg-gradient);
}
.description-container.dark {
  background-color: var(--dark-secondary);
}
.description{
  line-height: 2.5rem;
}

.span{
  font-weight: bold;
}