.overview-section{
  margin:0 auto;
}

.product-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background-color: rgb(233, 230, 230);
}
.product-container.dark{
  background-color: var(--dark-secondary);
}

.description-container{
  max-width:1280px;
  margin: 0 auto;
  margin-top:1.875rem;
  align-items: center;
  border-style: solid;
  border-width: .0625rem;
  padding: 16px, 32px;
  background-color: rgb(233, 230, 230);
}
.description-container.dark {
  background-color: var(--dark-secondary);
}
.description{
  line-height: 2.5rem;
}

.span{
  font-weight: bold;
}