* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main.light {
  background: #fff;
}

main.dark {
  background-color: #1c1917;
  color: #f3f3f3;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: sans-serif;
}
