/* ORIGINAL */
/* :root {
  --light-main: #fff;
  --light-secondary: #f0f8ff;
  --light-text: #000;
  --light-secondary-text: #333;
  --light-overlay: rgba(255, 255, 255, 0.8);
  --light-shadow: rgba(60, 64, 67, 0.3) 0rem 0.0625rem 0.125rem 0rem,
    rgba(60, 64, 67, 0.15) 0rem 0.125rem 0.375rem 0.125rem;
  --light-primary: #ff9800;
  --light-primary-hover: #e68900;
  --light-primary-active: #cc7900;
  --light-primary-text: #fff;

  --dark-main: #202124;
  --dark-secondary: #2a2a2a;
  --dark-text: #fff;
  --dark-secondary-text: #ccc;
  --dark-overlay: rgba(32, 33, 36, 0.8);
  --dark-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
  --dark-secondary-hover: #3b3b3b;
  --dark-secondary-active: #292929;
  --dark-primary: #007bff;
  --dark-primary-hover: #0069d9;
  --dark-primary-active: #0056b3;
  --dark-primary-text: #fff;
} */

:root {
  --light-main: #fdfeff;
  --light-secondary: #e4ecf2;
  --light-text: #000;
  --light-secondary-text: #333;
  --light-secondary-hover: #d8dfe6;
  --light-secondary-active: #ccd3d9;
  --light-overlay: rgba(253, 254, 255, 0.8);
  --light-shadow: rgba(60, 64, 67, 0.3) 0rem 0.0625rem 0.125rem 0rem,
    rgba(60, 64, 67, 0.15) 0rem 0.125rem 0.375rem 0.125rem;
  --light-primary: #007bff;
  --light-primary-hover: #0069d9;
  --light-primary-active: #0056b3;
  --light-primary-text: #fff;
  --light-bg-gradient: linear-gradient(
    90deg,
    hsla(206, 35%, 92%, 1) 0%,
    hsla(210, 100%, 100%, 1) 46%,
    hsla(208, 100%, 97%, 1) 100%
  );

  --dark-main: #202124;
  --dark-secondary: #2a2a2a;
  --dark-text: #fff;
  --dark-secondary-text: #ccc;
  --dark-overlay: rgba(32, 33, 36, 0.8);
  --dark-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
  --dark-secondary-hover: #3b3b3b;
  --dark-secondary-active: #292929;
  --dark-primary: #007bff;
  --dark-primary-hover: #0069d9;
  --dark-primary-active: #0056b3;
  --dark-primary-text: #fff;

  --radius-outer: 0.4375rem;
  --radius-inner: 0.1875rem;
  /* --radius-md:
  --radius-lg: */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

main.light {
  background: var(--light-main);
  color: var(--light-text);
}

main.dark {
  background-color: var(--dark-main);
  color: var(--dark-text);
}

.app-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2.25rem 0;
  font-family: sans-serif;
}
