.ratingBreakdown {
  height: auto;
  max-height: 380px;
  grid-column: 1;
  grid-row: 1;
}
.starFilter {
  background-color: var(--light-main);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: auto;
  text-align: center;
}
.starFilter.dark {
  background-color: var(--dark-main);
}